h1 {
    display: inline-block;

}

.nav {
    display: inline-block;
}

.nav li {
    display: inline;
    list-style: none;

}

nav a {
    text-decoration: none;
    padding: 10px;
    
}
